<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:property-placeholder location="classpath:config.properties"/>

	<!-- 只扫描@Controller -->
	<context:component-scan base-package="edu.seu.*" >
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" 
		p:prefix="/" p:suffix=".jsp"></bean>

	<!--<mvc:interceptors>
		<mvc:interceptor>
			&lt;!&ndash; 配置拦截器，拦截所有controller &ndash;&gt;
			<mvc:mapping path="/**"/>
			<bean class="edu.seu.interceptor.PassportInterceptor" ></bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="edu.seu.interceptor.LoginRequiredInterceptor" ></bean>
		</mvc:interceptor>
	</mvc:interceptors>-->
	
	<mvc:annotation-driven >
	        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
	</mvc:annotation-driven>
	<mvc:default-servlet-handler/>

	<!-- 文件上传配置 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 默认编码 -->
		<property name="defaultEncoding" value="UTF-8"/>
		<!-- 上传文件大小限制为31M，31*1024*1024 -->
		<property name="maxUploadSize" value="32505856"/>
		<!-- 内存中的最大值 -->
		<property name="maxInMemorySize" value="4096"/>
	</bean>
</beans>
