<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.seu.dao.UserDao">
    <insert id="persist" useGeneratedKeys="true" keyProperty="id">
        insert into user(username, password, email) values (#{username}, #{password}, #{email});
    </insert>

    <update id="update">
        update user set
        <trim suffixOverrides=",">
            <if test="username!=null">
                username = #{username},
            </if>
            <if test="password!=null">
                password = #{password},
            </if>
            <if test="email!=null">
                email = #{email},
            </if>
            <if test="level!=null">
                level = #{level},
            </if>
            <if test="active!=null">
                active = #{active},
            </if>
            update_time = now(),
        </trim>
        where id = #{id};
    </update>

</mapper>